/* ------------- GENERAL -------------------------------------------*/
body {
  background-image: url(https://images.unsplash.com/photo-1518156677180-95a2893f3e9f?auto=format&fit=crop&q=80&w=3087&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

section, footer {
  background-color: rgba(0, 0, 0, 0.228);
  backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.674);

}





/* ------------- HEADER -----------------------------------------------*/
header {
  background: linear-gradient( rgba(0, 0, 0, 0.981),#242424f0);

}








/* ------------ NAV RRSS */
.rrss-box {
  background-color: #93919100;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.rrss-links {
  background: radial-gradient(ellipse 8rem 1.5rem, rgb(121, 121, 121),#3a3b2a37);
  box-shadow: 1px 10px 8px 1px rgba(19, 19, 19, 0.827);
}









/* ------------ NAV WEB ---------------------------------------------*/
.nav-bottom {
  background-color: rgba(22, 21, 21, 0.443);

}








/* ------------ SOBRE MI ---------------------------------------------*/









/* ------------ FORMULARIO ---------------------------------------------*/









/* ------------ FOOTER ---------------------------------------------*/
  
