@import url(./styles2.css);
/* @import url(./media.css); */


:root {
  --lateral-margins-XL: 12dvw;
  --lateral-margins-S: 2dvw;
  --w-main-menu: 30dvw;
  --max-w-main-menu: 270px;
  --w-lateral-menu: 12dvw;
  --header-height: 6rem;
}



/* ============= HERRAMIENTAS DE VISUALIZACIÓN ==========================================*/

html {
  margin:0;
  padding:0;
  left:0;
  right:0
}

body * {
  /* border: 0.5px solid rgba(151, 151, 151, 0.824); */
  overflow: hidden;

}

.inactive {
  /* display: none; */
}

/* ============= GENERAL ==========================================*/
body {
  height: auto;
  width: 95svw;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  margin-top: var(--header-height);
  box-sizing: border-box;

  position:relative;
 
}

.main {
  padding: 1rem; 
  margin: 2rem;
  border-radius: 10px;

}

h2 {
  margin: 1rem 0.5rem 0.5rem 0.5rem; 
  text-align: center;
}

h3 {
  margin-top:1rem;
}

h4, h1, h2, h3{
  text-wrap: balance
}

p {
  text-wrap: pretty;
}

section {
  max-width: 600px;

}

.container {
  padding: 0.5rem;
}

#sections-big-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

#body-grand-box {
  position: relative;
  z-index: 0;
  width: auto;
}

hr {
  border: 0.5px solid rgb(73, 87, 85);
  display: none;
}





/* ============= HEADER ==========================================*/
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: var(--header-height);
  width: 100%; 
  left: 0; 
  top: 0;
  
  padding-top: 1.5rem;
  padding-bottom: 0.3rem;
  padding-left: auto;
  padding-right: auto;
  
  box-sizing: border-box;
  position:fixed;
  z-index: 1;
}

#hector-container {
  display: flex;
  justify-content: center;

  width: 80%;
  height: 5rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* border: 1px solid rgb(255, 255, 255); */
}

h1 {
  margin:0;
  padding: 0.8rem 0 0 0;
  width: 100%;
  text-align: center;

}



/* ============= BIO ==========================================*/
#bio {
  display: none;
  margin-top: 0;
  padding:0;
  height: 1.7rem;
}





/* ============= RRSS ==========================================*/
#nav-rrss {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1rem;
  
  width:100%;
  height: 4rem;
 
  box-sizing: border-box;
}

.rrss-links {
  display: flex;
  justify-content: center;
  align-items: center;
  /* para eliminar el subrayado predet de los links */
  text-decoration: none;

  height: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem ;
  border-radius: 5px;
}

img {
  height: auto;
  width: auto;
  max-width: 1.5rem;
  border: 0px;
}




/* ============= NAV WEB ==========================================*/
#nav-web {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  height: 5rem;
  margin:0;
}

.nav-bottom {
  display: flex;
  justify-content: center;

  height: 1.5rem;
  width: auto;
  min-width: 7rem;
  padding: 0.5%;

  border-radius: 3px;
  text-decoration: none;
  
}


/* ============= NEO  ==========================================*/
.special {
  padding: 1rem;
  max-width: 400px;
  margin: 2rem;
  border-radius: 10px;

}



#neo-section *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}



/* ============= NEWSLETTER ==========================================*/
#newsletter-section *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;

}

label {
  /* padding: 0.5rem; */
  margin:0.7rem
}



/* ============= MI HISTORIA ==========================================*/






/* ------------- FORMULARIO ==========================================*/
.enviar {
  margin: 2px;
  width: 100%;
  height: 2rem;

}
table {
  width: 100%;
  padding-bottom: 3rem;
}



input, textarea {
  border: #000000;
  border-radius: 5px;
  width: 12rem;
}


/* ============= FOOTER ==========================================*/
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;


  width: 100%;
  
  margin: 0;
  padding: 1rem;
  position: absolute;
  left:0;
  right:0;
  top:100%;

}

























@media (min-width: 650px) and (max-width: 2000px) {
  h1 {
    font-size: 1.5rem;
    
  }


  body {
    margin-top: 7rem;
    padding: 0 var(--lateral-margins-S) 0 var(--lateral-margins-S);
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* align-items: stretch; */
    align-items:flex-start;
    align-content:flex-start;

    margin: 0;
    height: 7rem;
    width: 100dvw; 
    left: 0; 
    top: 0;
    padding-top: 1rem;
    padding-bottom: 0.9rem;
    box-sizing: border-box;

    padding-left: var(--lateral-margins-S);
  
    position:fixed;
    z-index: 1;


    display: flex;

    left: 0; 
    top: 0;
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
    box-sizing: border-box;
    position:fixed;

  }

  



  #hector-container { 
    display: flex;
    width: var(--w-main-menu);
    justify-content: center;
    align-content: center;
    align-items: center;


  }

  



/*   =======================================================================v */
  .main {
    width: 40dvw;
  }
  
  #body-grand-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: var(--w-main-menu);
    
    box-sizing: border-box;
  }

  #sections-big-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 55dvw;

  }


  /* ==== BIG BOX NAVEGACION ==== */
  
  .hr-nav{
    display: unset;
    width: 90%;

    margin: 0.7rem;
    padding: 0;
  }

  #main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin:0;
    

    height: 60dvh;
    width: var(--w-main-menu);

    position: fixed;
  }



  



  /* ------------- RRSS -----------------------------------------------*/
  #nav-rrss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 8px;



    margin: 0;
    padding: 0.7rem;
    height: auto;

    width: 90%;


  }
    

  .rrss-links {
    display: flex;
    justify-content: center;
    align-content: center;

    
    margin: 0;
    height: 1rem;
  }
  
  #nav-web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40dvh;
    width: 90%;
  }

  .nav-bottom {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  
  
    height: 15%;
    width:100%;
    padding: 0.5%;
    border-radius: 3px;
    text-decoration: none;
  
    
  }
  hr {
    display: unset;
  }
  
  .hr-bio {
    height: 1rem;
    margin: 0.4rem;

  }

  .hr-main {
    /* margin: 0.3rem; */
    margin: 0 0 0 0;
    
  }

}




/* ===================================== MEDIA QUERIE =======================================================================v */
@media (min-width: 1000px) {
    
  h1 {
    font-size: 1.8rem;
  }


  body {
    margin-top: 7rem;
    padding: 0 var(--lateral-margins-S) 0 var(--lateral-margins-S);
  }


  /* ------------- BIO -----------------------------------------------*/
  #bio {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #nav-rrss {
    gap: 14px;
    margin: 5px;

  }
  
 



}